@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
body {
  font-size: 10px;
  font-family: 'Roboto', sans-serfif;
}
a:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
.big-red {
  font-weight: 700;
  color: #d11f1f;
  text-transform: uppercase;
}
.top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  opacity: 0.95;
  z-index: 100;
}
.top-nav {
  list-style: none;
  text-align: center;
}
.top-nav li {
  display: inline-block;
  text-align: center;
  padding: 2rem;
}
.top-nav-item {
  color: #000000;
  font-size: 1.6rem;
  font-weight: bold;
}
.main {
  background: #ffffff url(../img/main/main-bg.jpg) center top no-repeat;
  background-size: cover;
}
.main-content {
  text-align: center;
}
.main-content-cost {
  font-size: 4.4rem;
  margin-bottom: 1.4rem;
}
.main-content-cost .old {
  color: #000000;
  text-decoration: line-through;
  margin-right: 5rem;
}
.main-content-cost .new {
  color: #df2a2a;
  font-weight: 900;
}
.main-content-btn {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #ffffff;
  padding: 1.6rem 3.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#e65656), to(#d11f1f));
  background: linear-gradient(to bottom, #e65656, #d11f1f);
  border: none;
  border-radius: 40px;
  margin-bottom: 5rem;
}
.main-content-subtitle {
  text-transform: uppercase;
  line-height: 4rem;
  font-weight: 300;
  margin-bottom: 25rem;
  text-align: left;
}
.main-content-title {
  margin-top: 5rem;
  font-size: 8rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: left;
}
.kid {
  padding-bottom: 4rem;
  background: #ffffff url(../img/kid/pattern2.png) repeat;
  background-color: grey;
}
.kid-block {
  text-align: center;
}
.kid-img {
  max-width: 8rem;
}
.kid-title {
  color: #ffca1e;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 7rem;
}
.kid-sign {
  font-size: 1.8rem;
  color: #ffffff;
  margin: 3rem 0;
  padding: 0 4rem;
}
.argun-what-fotorama-wrap {
  float: right;
  padding-top: 3rem;
}
.argun-what-text {
  font-size: 2.6rem;
  text-align: left;
  padding: 0 3rem;
}
.argun-what-title {
  font-size: 5rem;
  text-align: center;
  margin: 5rem 0;
  font-weight: 400;
}
.argun-about {
  margin-bottom: 5rem;
  margin-top: 8rem;
}
.argun-about-text {
  font-size: 1.8rem;
}
.argun-about .block-img {
  margin-top: 3rem;
  text-align: center;
}
.argun-about-img {
  display: inline-block;
  max-width: 15rem;
}
#moreless {
  font-size: 2rem;
}
#first4 {
  margin-top: 6rem;
}
.overview {
  background-color: #3c619e;
  color: #ffffff;
  padding: 5rem 0;
}
.overview-item {
  text-align: center;
  margin-bottom: 3rem;
}
.overview-img {
  display: inline-block;
  max-width: 7rem;
}
.overview-text {
  text-align: center;
  display: inline-block;
  font-size: 1.4rem;
}
.overview-title {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5rem;
}
.overview-video {
  display: table;
}
.overview-wrap {
  display: table-cell;
  vertical-align: middle;
}
.overview-btn {
  padding: 1rem 3rem;
  background-color: #ffca1e;
  font-size: 1.6rem;
  color: #000000;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  font-weight: 700;
}
.overview-btn-wrap {
  margin-top: 3rem;
  text-align: center;
}
.benefit {
  background-color: #271c38;
  padding: 3rem 0;
}
.benefit-block {
  text-align: center;
}
.benefit-title {
  font-size: 4rem;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.benefit-img {
  display: inline-block;
  background-color: #599eff;
  padding: 5rem;
  border-radius: 50%;
  border: 6rem;
}
.benefit-text {
  font-size: 1.6rem;
  color: #ffffff;
  margin: 3rem 3.4rem;
}
.popgame {
  padding: 4rem 0;
  background-color: #ffca1e;
}
.popgame-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 4rem;
}
.popgame-wrap {
  text-align: center;
  margin-bottom: 3rem;
}
.popgame-img {
  max-width: 35rem;
}
