@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
body {
  font-size: 10px;
  font-family: 'Roboto', sans-serfif;
}
a:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
.big-red {
  font-weight: 700;
  color: #d11f1f;
  text-transform: uppercase;
}
section {
  padding: 5rem 0;
}
.top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  opacity: 0.95;
  z-index: 100;
}
.top-nav {
  list-style: none;
  text-align: center;
}
.top-nav li {
  display: inline-block;
  text-align: center;
  padding: 2rem;
}
.top-nav-item {
  color: #000000;
  font-size: 1.6rem;
  font-weight: bold;
}
.main {
  background: #ffffff url(../img/main/main-bg.jpg) center top no-repeat;
  background-size: cover;
}
.main-content {
  text-align: center;
}
.main-content-cost {
  font-size: 4.4rem;
  margin-bottom: 1.4rem;
}
.main-content-cost .old {
  color: #000000;
  text-decoration: line-through;
  margin-right: 5rem;
}
.main-content-cost .new {
  color: #df2a2a;
  font-weight: 900;
}
.main-content-btn {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #ffffff;
  padding: 1.6rem 3.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#e65656), to(#d11f1f));
  background: linear-gradient(to bottom, #e65656, #d11f1f);
  border: none;
  border-radius: 40px;
  margin-bottom: 5rem;
}
.main-content-subtitle {
  text-transform: uppercase;
  line-height: 4rem;
  font-weight: 300;
  margin-bottom: 25rem;
  text-align: left;
}
.main-content-title {
  margin-top: 5rem;
  font-size: 8rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: left;
}
.kid {
  padding-bottom: 4rem;
  background: #ffffff url(../img/kid/pattern2.png) repeat;
  background-color: grey;
}
.kid-block {
  text-align: center;
}
.kid-img {
  max-width: 8rem;
}
.kid-title {
  color: #ffca1e;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 7rem;
}
.kid-sign {
  font-size: 1.8rem;
  color: #ffffff;
  margin: 3rem 0;
  padding: 0 4rem;
}
.argun-what-fotorama-wrap {
  float: right;
  padding-top: 3rem;
}
.argun-what-text {
  font-size: 2.6rem;
  text-align: left;
  padding: 0 3rem;
}
.argun-what-title {
  font-size: 5rem;
  text-align: center;
  margin: 5rem 0;
  font-weight: 400;
}
.argun-about {
  margin-bottom: 5rem;
  margin-top: 8rem;
}
.argun-about-text {
  font-size: 1.8rem;
}
.argun-about .block-img {
  margin-top: 3rem;
  text-align: center;
}
.argun-about-img {
  display: inline-block;
  max-width: 15rem;
}
#moreless {
  font-size: 2rem;
}
#first4 {
  margin-top: 6rem;
}
.overview {
  background-color: #3c619e;
  color: #ffffff;
  padding: 5rem 0;
}
.overview-item {
  text-align: center;
  margin-bottom: 3rem;
}
.overview-img {
  display: inline-block;
  max-width: 7rem;
}
.overview-text {
  text-align: center;
  display: inline-block;
  font-size: 1.4rem;
}
.overview-title {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5rem;
}
.overview-video {
  display: table;
}
.overview-wrap {
  display: table-cell;
  vertical-align: middle;
}
.overview-btn {
  padding: 1rem 3rem;
  background-color: #ffca1e;
  font-size: 1.6rem;
  color: #000000;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  font-weight: 700;
}
.overview-btn-wrap {
  margin-top: 3rem;
  text-align: center;
}
.benefit {
  background-color: #271c38;
  padding: 3rem 0;
}
.benefit-block {
  text-align: center;
}
.benefit-title {
  font-size: 4rem;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.benefit-img {
  display: inline-block;
  background-color: #599eff;
  padding: 5rem;
  border-radius: 50%;
  border: 6rem;
}
.benefit-text {
  font-size: 1.6rem;
  color: #ffffff;
  margin: 3rem 3.4rem;
}
.popgame {
  padding: 4rem 0;
  background-color: #ffca1e;
}
.popgame-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 4rem;
}
.popgame-wrap {
  text-align: center;
  margin-bottom: 3rem;
}
.popgame-img {
  max-width: 35rem;
}
.connect {
  background-color: #9bc4ff;
  padding: 4rem 0;
}
.connect-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 4rem;
}
.connect-wrp {
  text-align: center;
  margin-bottom: 2rem;
}
.connect-img {
  max-width: 33rem;
}
.connect-list {
  font-size: 1.6rem;
  margin-left: 7rem;
}
.connect-big-img {
  margin-top: 7rem;
  width: 50rem;
}
.connect-small-img {
  margin-top: 5rem;
  height: 10rem;
}
.platforms {
  background-color: #9bc4ff;
  padding: 4rem 0;
}
.platforms-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 4rem;
}
.platforms .apple img {
  margin-top: 10rem;
  height: 11rem;
  max-width: 30rem;
  margin-bottom: 5rem;
}
.platforms .android img {
  height: 11rem;
  max-width: 30rem;
}
.garant-img {
  max-width: 13rem;
}
.garant-text {
  margin: 2rem 4rem;
  font-size: 1.6rem;
}
.feedback-item {
  padding-right: 2rem;
  margin-bottom: 3rem;
}
.feedback-avatar {
  margin-left: 2rem;
}
.feedback-text {
  display: inline-block;
  font-size: 1.4rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e3e4e5;
  border-radius: 8px;
}
.feedback-text:before {
  position: absolute;
  top: 0;
  left: 30%;
  border-top-right-radius: 50px;
  display: block;
  content: '';
  width: 2rem;
  height: 2rem;
  background-color: #e3e4e5;
}
.feedback-name {
  color: #1e6dbc;
  margin-top: 3rem;
  margin-right: 4rem;
  font-weight: 700;
}
.feedback-city {
  margin-right: 4rem;
}
.anyoffer-item {
  margin-top: 4rem;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 2rem;
}
.anyoffer-item .btn {
  margin: 2rem;
}
.anyoffer-item .cost {
  display: block;
  font-size: 1.8rem;
  color: #d11f1f;
}
.anyoffer-item .speciality {
  font-size: 1.2rem;
}
.anyoffer-item .speciality li {
  line-height: 2rem;
}
.anyoffer-item-img {
  width: 90%;
  margin: 2rem;
  margin-top: 2rem;
}
.anyoffer-item-name {
  margin-top: 0;
  text-transform: uppercase;
}
.order {
  background-color: #847d7d;
}
.order h2 {
  margin-bottom: 7rem;
}
.order-stad {
  list-style: none;
  margin-top: 2rem;
}
.order-stad li {
  display: inline-block;
  margin: 0;
  font-size: 1.6rem;
  color: #ffffff;
  padding: 0;
  width: 22%;
}
.order-stad li:last-child {
  padding-right: 0;
}
.order-stad li:first-child {
  padding-left: 0;
  margin-left: 3rem;
}
.order-stad li .btn {
  display: inline-block;
  font-size: 2rem;
  margin-right: 8rem;
  background-color: #d61919;
  color: #ffffff;
  padding: 1rem 3rem;
  border-radius: 10px;
}
.order .rec {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #ffa95e;
  margin: 0 1rem;
  text-align: center;
  padding: 1.6rem;
}
.order .rec img {
  height: 4rem;
  width: 4rem;
}
.order .line {
  display: inline-block;
  width: 13%;
  height: 2px;
  background-color: #ffa95e;
}
.delivery {
  text-align: center;
  background-color: #e2e2e2;
}
.delivery-cost {
  border: 1px solid #000000;
  margin: 3rem 3rem;
  padding: 2rem;
  border-radius: 5px;
}
.delivery-cost img {
  max-width: 25rem;
  margin-bottom: 10rem;
}
.delivery-cost-text {
  font-size: 3rem;
  margin-top: 10rem;
}
.delivery-cost-text strong {
  font-size: 4rem;
}
.delivery .nav-tabs {
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  position: relative;
  top: 4px;
}
.delivery .tab-content {
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
}
.delivery .tab-content #adress {
  padding: 2rem;
}
.delivery .tab-content #adress .adress-img {
  max-width: 40rem;
}
.delivery .tab-content #adress .adress-title {
  margin-top: 0;
}
.delivery .tab-content #adress .adress-text {
  margin-top: 47%;
  font-size: 1.4rem;
}
.delivery .tab-content #adress .adress-form {
  text-align: left;
  background-color: #f4f4f4;
  padding: 3rem 2rem;
  font-size: 1.6rem;
  width: 100%;
}
.delivery .tab-content #adress .adress-form .button-blue {
  position: absolute;
  right: -100%;
  bottom: 10rem;
  padding: 2rem;
  font-size: 2.4rem;
  height: 10rem;
  color: #ffffff;
  border: none;
  background-color: #0909c4;
  border-radius: 10px;
}
.delivery .tab-content #adress .adress-form input {
  margin-bottom: 1rem;
  padding: 2rem;
  padding-left: 1rem;
  height: 3.6rem;
  width: 100%;
  border: 1px solid #007713;
}
.delivery .tab-content #pay {
  padding: 2rem;
  text-align: left;
}
.delivery .tab-content #pay .pay-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.delivery .tab-content #pay .pay-img {
  max-width: 37rem;
}
.delivery .tab-content #pay .pay-text {
  font-size: 1.8rem;
}
.delivery-title {
  font-size: 5rem;
  margin-bottom: 5rem;
  font-weight: 700;
}
.delivery-subtitle {
  font-weight: 700;
}
.delivery-text {
  font-size: 1.8rem;
}
.delivery-text-tab {
  font-size: 1.6rem;
  padding: 3rem 1rem;
  text-align: left;
}
.map-title {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.footer .number {
  font-size: 2rem;
}
.footer .btn-grey {
  background-color: #e0e0e0;
}
.footer-btn {
  font-size: 1.6rem;
  padding: 0.8rem;
  width: 17rem;
  margin-bottom: 1rem;
  color: #ffffff;
  background-color: #d587ff;
  border-radius: 5px;
  border: 1px solid #000000;
}
.footer span {
  font-size: 1.4rem;
}
.footer-name {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.footer-social {
  display: inline-block;
  margin-top: 1.5rem;
  margin-right: 2rem;
}
.footer-social img {
  width: 3rem;
}
.footer .dark {
  background-color: #403944;
  padding: 2rem;
}
.footer .ur-inf {
  color: #ffffff;
}
