@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
// Базовые цвета
@text-color: #000;
@light: #fff;
@red-color: #d11f1f;
@yellow-color: #ffca1e;


// Базовые стили
body {
	font-size: 10px;
	font-family: 'Roboto', sans-serfif;
}

a {
	&:hover {
		text-decoration: none;
	}
}

.big-red {
	font-weight: 700;
	color: @red-color;
	text-transform: uppercase;
}


// Мои стили
.top {
	position: sticky;
	top: 0;
	background-color: @light;
	opacity: 0.95;
	z-index: 100;

	&-nav {
		list-style: none;
		text-align: center;

		li {
			display: inline-block;
			text-align: center;
			padding: 2rem;
		}

		&-item {
			color: @text-color;
			font-size: 1.6rem;
			font-weight: bold;

		}

	}
}
.main {
	background: #fff url(../img/main/main-bg.jpg) center top no-repeat;
	background-size: cover;
	
	&-content {
		text-align: center;

		&-cost {
			font-size: 4.4rem;
			margin-bottom: 1.4rem;
			.old {
				color: @text-color;
				text-decoration: line-through;
				margin-right: 5rem;
			}

			.new {
				color: lighten(@red-color, 5%);
				font-weight: 900;
			}
		}
		&-btn {
			text-transform: uppercase;
			font-size: 1.6rem;
			font-weight: 700;
			letter-spacing: 1.5px;
			color: @light;
			padding: 1.6rem 3.5rem;
			background: linear-gradient(to bottom, lighten(@red-color,15%), @red-color);
			border: none;
			border-radius: 40px;
			margin-bottom: 5rem;

		}
		&-subtitle {
			text-transform: uppercase;
			line-height: 4rem;
			font-weight: 300;
			margin-bottom: 25rem;
			text-align: left;
		}

		&-title {
			margin-top: 5rem;
			font-size: 8rem;
			font-weight: 300;
			text-transform: uppercase;
			margin-bottom: 2rem;
			text-align: left;
		}
	}

}

// Вы хотите чтобы ваш ребёнок
.kid {
	padding-bottom: 4rem;
	background: #fff url(../img/kid/pattern2.png) repeat;
	background-color: grey;
	&-block {
		text-align: center;
	}
	&-img {
		max-width: 8rem;
	}
	&-title {
		color: @yellow-color;
		font-size: 4rem;
		font-weight: 700;
		text-align: center;
		margin-top: 5rem;
		margin-bottom: 7rem;
	}

	&-sign {
		font-size: 1.8rem;
		color: @light;
		margin: 3rem 0;
		padding: 0 4rem;
	}
}

// Что такое AR GUN GAME?
.argun-what {

	&-fotorama {

	}

	&-fotorama-wrap {
		float: right;
		padding-top: 3rem;

	}
	&-text {
		font-size: 2.6rem;
		text-align: left;
		padding: 0 3rem;
	}

	&-title {
		font-size: 5rem;
		text-align: center;
		margin: 5rem 0;
		font-weight: 400;
	}
}

// AR GUN GAME ЭТО ВИРТУАЛЬНОЕ ОРУЖИЕ КОТОРОЕ ПОЗВОЛИТ....
.argun-about {
	margin-top: 8rem;

	&-text {
		margin-top: 5rem;
		font-size: 1.8rem;
	}

	.block-img {
		margin-top: 3rem;
		text-align: center;
	}

	&-img {
		display: inline-block;
		max-width: 15rem;
	}
}
